/* @import */

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: white;
	/* box-sizing: border-box;
	font-size: 1rem;
	font-family: Arial;*/
}

body {
	font-size: 16px;
	background: black;
	/* background: linear-gradient(68.15deg, #456789 16.62%, #654312 85.61%); */
}

img{
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
	/*background: black;
*/	
}

.header__link {
	padding: 1rem;
}

.menu-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.1rem;
	font-size: 1rem;
}


.menu__item {
	padding: 0.6rem;
}

.content {
	/*background: #234567;
	*/display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.info {
	/*background: #456789;
	*/display: flex;
	flex-direction: row;
	align-items: top;
	justify-content: space-around;
	padding: 1rem;
}

.info__about {
	/*background: #789012;
	*/padding: 1rem;
	width: 180%;
}

.info--justify {
	text-align: justify;
	line-height: 1.7rem;
}

.about__text {
	padding: 1rem 0;
}

.info__contact {
	/*background: #012345;
	*/padding: 1rem;
}

.contact__whatsapp {
	/*background: #643217;
	*/padding: 1rem 0;
}

.whatsapp-button {
	background: green;
	padding: 0.8rem;
	border: none;
	border-radius: 0.3rem;
	color: white;
	transition-duration: 0.2s;
}

.whatsapp-button:hover {
	background-color: #4CAF50; /* Green */
	color: white;
	cursor: pointer;
	/*box-shadow: 1rem;*/
}

.portfolio {
	/*background: #345678;
	*/padding: 1rem;
}

.portfolio__header {
	/*background: #678901;
	*/padding: 1rem;
	
}

.portfolio__title{
	
}

.portfolio__sub-title{
	
}

.portfolio__item{
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;
}

.portfolio__images {
	flex: 1 1 300px;
	margin: 10px;
}